Repository JuliaPlots/PlotlyJS.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI, testing

Remove show method def for the plotly mime
  src/display.jl
Labels: none

migrate to weakdeps
  Project.toml
  ext/CSVExt.jl
  ext/DataFramesExt.jl
  ext/IJuliaExt.jl
  ext/JSON3Ext.jl
  src/PlotlyJS.jl
Labels: none

Update ext/DataFramesExt.jl
  ext/DataFramesExt.jl
Labels: none

CompatHelper: add new compat entry for DelimitedFiles at version 1, (keep existing compat)
  Project.toml
Labels: none

fix loading issues
  Project.toml
  ext/IJuliaExt.jl
  ext/JSON3Ext.jl
Labels: none

add weakdeps to extras also
  Project.toml
Labels: none

Update funding.yml
  .github/funding.yml
Labels: CI

Update funding.yml
  .github/funding.yml
Labels: CI

build based on fbfe5ae
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

build based on 43d38e9
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

Fix precompilation of packages depending on PlotlyJS
  src/PlotlyJS.jl
Labels: none

Properly close P.proc
  src/PlotlyJS.jl
Labels: none

Keep change minimal
  src/PlotlyJS.jl
Labels: none

0.18.11 [skip ci]
  Project.toml
Labels: none

Use the same plotlyjs version number for all imports
  .github/workflows/artifacts.yml
  .gitignore
  deps/generate_artifacts.jl
  deps/plotly_cdn_version.jl
  src/PlotlyJS.jl
  src/display.jl
Labels: CI

add tests for _js_path and _js_version
  test/runtests.jl
Labels: testing

Use the same plotlyjs version number for all imports (#480)
  .github/workflows/artifacts.yml
  .gitignore
  deps/generate_artifacts.jl
  deps/plotly_cdn_version.jl
  src/PlotlyJS.jl
  src/display.jl
  test/runtests.jl
Labels: CI, testing

0.18.12 [skip ci]
  Project.toml
Labels: none

migrate to weakdeps (#463)
  Project.toml
  ext/CSVExt.jl
  ext/DataFramesExt.jl
  ext/IJuliaExt.jl
  ext/JSON3Ext.jl
  src/PlotlyJS.jl
Labels: none

substitute old code with PlotlyKaleido
  Project.toml
  src/PlotlyJS.jl
  src/kaleido.jl
Labels: none

fail slow
  .github/workflows/ci-pr-workflow.yml
Labels: CI

dont spawn task
  src/PlotlyJS.jl
Labels: none

neither wait
  src/PlotlyJS.jl
Labels: none

invert logic
  src/PlotlyJS.jl
Labels: none

bump version [skip ci]
  .github/workflows/ci-master-workflow.yml
  Project.toml
Labels: CI

substitute old savefig code with PlotlyKaleido (#481)
  .github/workflows/ci-master-workflow.yml
  .github/workflows/ci-pr-workflow.yml
  Project.toml
  src/PlotlyJS.jl
  src/kaleido.jl
Labels: CI

Kaleido uses the same plotlyjs as PlotlyJS
  src/PlotlyJS.jl
  src/kaleido.jl
Labels: none

Require PlotlyKaleido v2.2.5 or later
  Project.toml
Labels: none

Kaleido uses the same plotlyjs as PlotlyJS (#488)
  Project.toml
  src/PlotlyJS.jl
  src/kaleido.jl
Labels: none

0.18.14
  Project.toml
Labels: none

Fix for using IJulia with Julia 1.11.1 and the new Memory array types.
  ext/IJuliaExt.jl
Labels: none

Fix for using IJulia with Julia 1.11.1 and the new Memory array types. (#490)
  ext/IJuliaExt.jl
Labels: none

0.18.15 [skip ci]
  Project.toml
Labels: none

cleanup savefig() logic and docs
  src/kaleido.jl
Labels: none

savefig(): allow specifying js library and version
  src/kaleido.jl
Labels: none

fixup typo
  src/kaleido.jl
Labels: none

update savefig docs
  docs/src/manipulating_plots.md
Labels: documentation

fixup savefig
  src/kaleido.jl
Labels: none

bring all show() methods together
  src/display.jl
Labels: none

update CI
  .github/workflows/ci-master-workflow.yml
Labels: CI

.github/labeler.yml:

documentation:
- "docs/**/*"
CI:
- "**/*.yml"
testing:
- test/*
