Repository JuliaPlots/PlotlyJS.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI, testing

.github/labeler.yml:

documentation:
- "docs/**/*"
CI:
- "**/*.yml"
testing:
- test/*

build based on 54b3ec0
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

build based on bd23d53
  stable
  v0.14
  v0.14.0/api/index.html
  v0.14.0/assets/documenter.js
  v0.14.0/assets/search.js
  v0.14.0/assets/themes/documenter-dark.css
  v0.14.0/assets/themes/documenter-light.css
  v0.14.0/assets/themeswap.js
  v0.14.0/basics/index.html
  v0.14.0/building_traces_layouts/index.html
  v0.14.0/contributing/index.html
  v0.14.0/examples/3d/index.html
  v0.14.0/examples/area/index.html
  v0.14.0/examples/bar/index.html
  v0.14.0/examples/box_plots/index.html
  v0.14.0/examples/contour/index.html
  v0.14.0/examples/finance/index.html
  v0.14.0/examples/heatmaps/index.html
  v0.14.0/examples/histograms/index.html
  v0.14.0/examples/line_scatter/index.html
  v0.14.0/examples/maps/index.html
  v0.14.0/examples/shapes/index.html
  v0.14.0/examples/subplots/index.html
  v0.14.0/examples/tables/index.html
  v0.14.0/examples/ternary/index.html
  v0.14.0/examples/time_series/index.html
  v0.14.0/examples/violin/index.html
  v0.14.0/index.html
  v0.14.0/manipulating_plots/index.html
  v0.14.0/search/index.html
  v0.14.0/search_index.js
  v0.14.0/siteinfo.js
  v0.14.0/styles/index.html
  v0.14.0/syncplots/index.html
  versions.js
Labels: none

DOC: redirect to http instead of https
  index.html
Labels: none

Update README.md
  README.md
Labels: none

build based on 6dc25b9
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

Check for build log before reading it
  src/PlotlyJS.jl
Labels: none

build based on c4418cc
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

Update index.md
  docs/src/index.md
Labels: documentation

build based on 353f4d9
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

minor typo fixes
  docs/src/syncplots.md
Labels: documentation

minor typo fixes (#356)
  docs/src/syncplots.md
Labels: documentation

build based on f2566e0
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

Switch to Julia Artifacts for JS dependencies
  Artifacts.toml
  deps/build.jl
  deps/find_attr_groups.jl
  deps/generate_artifacts.jl
  deps/make_schema_docs.jl
  deps/update_deps.sh
  src/PlotlyJS.jl
  src/display.jl
Labels: none

Try fixing sha256 hashes
  Artifacts.toml
Labels: none

Switch to tarball artifact
  Artifacts.toml
  deps/find_attr_groups.jl
  deps/make_schema_docs.jl
  src/PlotlyJS.jl
  src/display.jl
Labels: none

Fix :schema accesses
  deps/find_attr_groups.jl
  deps/make_schema_docs.jl
Labels: none

Switch to Julia Artifacts for JS dependencies (#358)
  Artifacts.toml
  deps/build.jl
  deps/find_attr_groups.jl
  deps/generate_artifacts.jl
  deps/make_schema_docs.jl
  deps/update_deps.sh
  src/PlotlyJS.jl
  src/display.jl
Labels: none

build based on 8210092
  dev/api/index.html
  dev/assets/themes/documenter-dark.css
  dev/assets/themes/documenter-light.css
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

build based on d596c86
  dev/api/index.html
  dev/assets/documenter.js
  dev/assets/search.js
  dev/assets/themeswap.js
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

Include 1.0 in Reexport compat bound
  Project.toml
Labels: none

Include 1.0 in Reexport compat bound (#367)
  Project.toml
Labels: none

Update Project.toml
  Project.toml
Labels: none

build based on a565768
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

build based on 40c8c93
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

Generate single artifact
  deps/generate_artifacts.jl
Labels: none

Create artifacts.yml
  .github/workflows/artifacts.yml
Labels: CI

Remove erroneous -
  .github/workflows/artifacts.yml
Labels: CI

Correct path
  .github/workflows/artifacts.yml
Labels: CI

Use archive_artifact correctly
  deps/generate_artifacts.jl
Labels: none

Add tag_name
  .github/workflows/artifacts.yml
Labels: CI

Correctly generate artifact
  deps/generate_artifacts.jl
Labels: none

Update Artifacts.toml after generating artifacts
  .github/workflows/artifacts.yml
Labels: CI

Rename
  .github/workflows/artifacts.yml
Labels: CI

Remove old tag before release
  .github/workflows/artifacts.yml
Labels: CI

Use ncipollo/release-action
  .github/workflows/artifacts.yml
Labels: CI

Fix deprecation in ncipollo/release-action
  .github/workflows/artifacts.yml
Labels: CI

Fix typo
  deps/generate_artifacts.jl
Labels: none

Hopefully enable update of release artifacts
  .github/workflows/artifacts.yml
Labels: CI

Obtain schema correctly
  deps/make_schema_docs.jl
Labels: none

Obtain schema correctly
  deps/find_attr_groups.jl
Labels: none
