Repository JuliaPlots/PlotlyJS.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI, testing

update PR action
  .github/workflows/ci-master-workflow.yml
  .github/workflows/ci-pr-workflow.yml
Labels: CI

update tagbot
  .github/workflows/TagBot.yml
Labels: CI

add `@unsafe_electron` macro
  src/PlotlyJS.jl
  test/blink.jl
  test/kaleido.jl
  test/runtests.jl
Labels: testing

remove broken action
  .github/workflows/label.yml
Labels: CI

concurrency
  .github/workflows/deploy_docs.yml
Labels: CI

rework CI
  .github/workflows/ci-master-workflow.yml
  .github/workflows/ci.yml
Labels: CI

typo
  .github/workflows/ci.yml
Labels: CI

update versions
  Project.toml
Labels: none

update
  src/PlotlyJS.jl
  test/runtests.jl
Labels: testing

test
  test/runtests.jl
Labels: testing

update
  src/PlotlyJS.jl
  test/runtests.jl
Labels: testing

test
  src/PlotlyJS.jl
  src/display.jl
Labels: none

update
  src/PlotlyJS.jl
  test/runtests.jl
Labels: testing

try fix xdg-open
  .github/workflows/ci.yml
  test/runtests.jl
Labels: CI, testing

run using `xvfb-run`
  .github/workflows/ci.yml
  test/blink.jl
Labels: CI, testing

add comment
  .github/workflows/ci.yml
Labels: CI

update svfb-run
  .github/workflows/ci.yml
  src/PlotlyJS.jl
  test/runtests.jl
Labels: CI, testing

restrict tests
  test/runtests.jl
Labels: testing

add julia-actions/cache req
  .github/workflows/ci.yml
Labels: CI

conditional debug
  test/runtests.jl
Labels: testing

`ECONNREFUSED` temporary fix (#499)
  .github/workflows/TagBot.yml
  .github/workflows/ci-master-workflow.yml
  .github/workflows/ci-pr-workflow.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_docs.yml
  .github/workflows/label.yml
  Project.toml
  src/PlotlyJS.jl
  src/display.jl
  test/blink.jl
  test/kaleido.jl
  test/runtests.jl
Labels: CI, testing

0.18.16 [skip ci]
  Project.toml
Labels: none

Move datasets local to repo and remove HTTP.jl dependency
  docs/Project.toml
  examples/3d.jl
  examples/data/2014_us_cities.csv
  examples/data/AAPL_stock_data.csv
  examples/data/GOOG_stock_data.csv
  examples/data/Mining-BTC-180.csv
  examples/data/mt_bruno_elevation.csv
  examples/data/school_earnings.csv
  examples/data/soil_data.json
  examples/finance.jl
  examples/line_scatter.jl
  examples/maps.jl
  examples/tables.jl
  examples/ternary.jl
Labels: documentation

Apply edits from code review
  docs/src/manipulating_plots.md
  src/display.jl
Labels: documentation

Single space typo
  docs/src/manipulating_plots.md
Labels: documentation

Deprecate MIME for Juno, replace with VSCode
  src/display.jl
Labels: none

Enhance savefig() (#494) with better logic and docs
  docs/src/manipulating_plots.md
  src/display.jl
  src/kaleido.jl
Labels: documentation

Move example data into datasets within repo
  datasets/2014_us_cities.csv
  datasets/AAPL_stock_data.csv
  datasets/GOOG_stock_data.csv
  datasets/Mining-BTC-180.csv
  datasets/mt_bruno_elevation.csv
  datasets/school_earnings.csv
  datasets/soil_data.json
Labels: none

Update plotly version to 2.34.0
  deps/plotly_cdn_version.jl
  docs/src/assets/include_plotlyjs.js
Labels: documentation

Update plotly version to 2.35.2
  deps/plotly_cdn_version.jl
  docs/src/assets/include_plotlyjs.js
Labels: documentation

Update plotly version to 2.35.2 (#507)
  deps/plotly_cdn_version.jl
  docs/src/assets/include_plotlyjs.js
Labels: documentation

Update artifacts.yml to plotly version 2.35.2
  .github/workflows/artifacts.yml
Labels: CI

Clean up json data
  examples/data/soil_data.json
Labels: none

Update examples to use local data
  README.md
  docs/make.jl
  docs/src/examples/3d.md
  docs/src/examples/finance.md
  docs/src/examples/line_scatter.md
  docs/src/examples/maps.md
  docs/src/examples/tables.md
  docs/src/examples/ternary.md
  docs/src/index.md
  docs/versions.js
  examples/3d.jl
  examples/finance.jl
  examples/heatmaps.jl
  examples/line_scatter.jl
  examples/maps.jl
  examples/tables.jl
  examples/ternary.jl
Labels: documentation

Small typo in url
  README.md
Labels: none

Enable working documentation (#508)
  README.md
  datasets/2014_us_cities.csv
  datasets/AAPL_stock_data.csv
  datasets/GOOG_stock_data.csv
  datasets/Mining-BTC-180.csv
  datasets/mt_bruno_elevation.csv
  datasets/school_earnings.csv
  datasets/soil_data.json
  docs/Project.toml
  docs/make.jl
  docs/src/examples/3d.md
  docs/src/examples/finance.md
  docs/src/examples/line_scatter.md
  docs/src/examples/maps.md
  docs/src/examples/tables.md
  docs/src/examples/ternary.md
  docs/src/index.md
  docs/versions.js
  examples/3d.jl
  examples/finance.jl
  examples/heatmaps.jl
  examples/line_scatter.jl
  examples/maps.jl
  examples/tables.jl
  examples/ternary.jl
Labels: documentation

0.18.17 [skip ci]
  Project.toml
Labels: none

build based on 54cdf52
  dev/.documenter-siteinfo.json
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/objects.inv
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

build based on 54cdf52
  dev/.documenter-siteinfo.json
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

Update workflows for doc deployment
  .github/workflows/TagBot.yml
  .github/workflows/deploy_docs.yml
Labels: CI

.github/labeler.yml:

documentation:
- "docs/**/*"
CI:
- "**/*.yml"
testing:
- test/*
