Repository JuliaPlots/PlotlyJS.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI, testing

.github/labeler.yml:

documentation:
- "docs/**/*"
CI:
- "**/*.yml"
testing:
- test/*

Rename to plotly.min.js
  deps/generate_artifacts.jl
Labels: none

Rename for JuliaPlots repo
  deps/generate_artifacts.jl
Labels: none

Rename for JuliaPlots repo
  Artifacts.toml
Labels: none

Do not update Artifact.toml automatically
  .github/workflows/artifacts.yml
Labels: CI

Revert "Do not update Artifact.toml automatically"
  .github/workflows/artifacts.yml
Labels: CI

Download artifacts directly without checksum
  Artifacts.toml
Labels: none

Revert "Download artifacts directly without checksum"
  Artifacts.toml
Labels: none

Typo
  docs/src/examples/histograms.md
Labels: documentation

Blink.AtomShell.install() not needed anymore
  README.md
Labels: none

Blink.AtomShell.install() not needed anymore
  README.md
Labels: none

Prepare artifact versioning
  .github/workflows/artifacts.yml
  deps/generate_artifacts.jl
Labels: CI

Bump julia version
  .github/workflows/artifacts.yml
Labels: CI

Introduce artifact versioning
  .github/workflows/artifacts.yml
Labels: CI

Fix bash string interpolation
  .github/workflows/artifacts.yml
Labels: CI

String interpolation in artifact release
  .github/workflows/artifacts.yml
Labels: CI

Hopefully fix env usage
  .github/workflows/artifacts.yml
Labels: CI

Allow manual triggering
  .github/workflows/deploy_docs.yml
Labels: CI

Fix artifact download link
  deps/generate_artifacts.jl
Labels: none

Get rid of try ... catch
  deps/generate_artifacts.jl
Labels: none

Bump version number
  Project.toml
Labels: none

Update README.md
  README.md
Labels: none

Repo specifier in generate_artifacts
  .github/workflows/artifacts.yml
Labels: CI

Repo specifier
  deps/generate_artifacts.jl
Labels: none

Generate artifacts using gh-actions (#372)
  .github/workflows/artifacts.yml
  .github/workflows/deploy_docs.yml
  Artifacts.toml
  Project.toml
  README.md
  deps/find_attr_groups.jl
  deps/generate_artifacts.jl
  deps/make_schema_docs.jl
Labels: CI

build based on 810d322
  dev/api/index.html
  dev/assets/documenter.js
  dev/assets/search.js
  dev/assets/themes/documenter-dark.css
  dev/assets/themes/documenter-light.css
  dev/assets/warner.js
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
  versions.js
Labels: none

Corect wrong link to plotly javascript documentation
  docs/src/manipulating_plots.md
Labels: documentation

remove options from SyncPlot constructor to favor Plot.config
  src/display.jl
Labels: none

depend on plotlybase 0.5
  docs/Project.toml
Labels: documentation

renderer config via env var and use PlotlyBase.to_html
  src/PlotlyJS.jl
  src/display.jl
Labels: none

update version
  Project.toml
Labels: none

add example datasets
  datasets/carshare.csv
  datasets/election.csv
  datasets/election.geojson
  datasets/experiment.csv
  datasets/gapminder.csv
  datasets/iris.csv
  datasets/medals.csv
  datasets/stocks.csv
  datasets/tips.csv
  datasets/wind.csv
  deps/generate_artifacts.jl
  src/PlotlyJS.jl
  src/display.jl
Labels: none

Update Project.toml
  Project.toml
Labels: none

make_subplots
  src/PlotlyJS.jl
  src/display.jl
Labels: none

add make_subplots
  Project.toml
Labels: none

Update Project.toml
  Project.toml
Labels: none

loosen constraint on PlotlyBase to 0.6
  Project.toml
Labels: none

ENH: update docs
  docs/Project.toml
  docs/src/basics.md
  docs/src/building_traces_layouts.md
  docs/src/examples/3d.md
  docs/src/examples/finance.md
  docs/src/examples/line_scatter.md
  docs/src/examples/maps.md
  docs/src/examples/tables.md
  docs/src/examples/violin.md
  docs/src/manipulating_plots.md
  docs/src/styles.md
  docs/src/syncplots.md
  examples/3d.jl
  examples/finance.jl
  examples/line_scatter.jl
  examples/maps.jl
  examples/tables.jl
  examples/violin.jl
  src/PlotlyJS.jl
Labels: documentation

build based on 5271edb
  dev/api/index.html
  dev/assets/themes/documenter-dark.css
  dev/assets/themes/documenter-light.css
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

update layout
  src/display.jl
Labels: none

build based on 4a9e1ad
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none
