Repository JuliaPlots/PlotlyJS.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI, testing

.github/labeler.yml:

documentation:
- "docs/**/*"
CI:
- "**/*.yml"
testing:
- test/*

Update area.md
  docs/examples/area.md
Labels: documentation

bump version number
  Project.toml
Labels: none

Add CompatHelper to update deps in project.toml
  .github/workflows/CompatHelper.yml
Labels: CI

Install TagBot as a GitHub Action
  .github/workflows/TagBot.yml
Labels: CI

Update line_scatter.jl
  examples/line_scatter.jl
Labels: none

Update line_scatter.jl (#310)
  examples/line_scatter.jl
Labels: none

Install TagBot as a GitHub Action (#309)
  .github/workflows/TagBot.yml
Labels: CI

Modify plot window dimensions on creation to fit plot contents
  src/display.jl
Labels: none

Modify plot window dimensions on creation to fit plot contents (#315)
  src/display.jl
Labels: none

Create funding.yml
  .github/funding.yml
Labels: CI

support include_mathjax option for Blink display
  Project.toml
  src/PlotlyJS.jl
  src/display.jl
Labels: none

modify mathjax option handling for plots from plotlyjs() backend
  src/display.jl
Labels: none

update link to docs
  README.md
Labels: none

Update for Julia 1: Use dot broadcast
  examples/box_plots.jl
Labels: none

Update for Julia 1: Use dot broadcast (#337)
  examples/box_plots.jl
Labels: none

Update display function to allow for frames for animation, and add animation example
  docs/build_example_docs.jl
  docs/examples/animation.md
  examples/animation.jl
  src/display.jl
Labels: documentation

Fix the call to Plotly.newPlot to incorporate config and match the documentation
  src/display.jl
Labels: none

Update README.md
  README.md
Labels: none

ENH: use PlotlyBase's Kaleido for savefig
  src/PlotlyJS.jl
  src/savefig_orca.jl
Labels: none

OPS: add pkg-butler
  .github/workflows/jlpkgbutler-butler-workflow.yml
Labels: CI

DEPS: depend on plotlyBase 0.4
  Project.toml
Labels: none

ENH: add pkgbutler
  .github/workflows/jlpkgbutler-butler-workflow.yml
Labels: CI

Update Project.toml
  Project.toml
Labels: none

Delete .travis.yml
  .travis.yml
Labels: CI

Fix issues identified by Julia Package Butler
  .github/workflows/jlpkgbutler-ci-master-workflow.yml
  .github/workflows/jlpkgbutler-ci-pr-workflow.yml
  .github/workflows/jlpkgbutler-compathelper-workflow.yml
  .github/workflows/jlpkgbutler-tagbot-workflow.yml
Labels: CI

Delete jlpkgbutler-butler-workflow.yml
  .github/workflows/jlpkgbutler-butler-workflow.yml
Labels: CI

Create .travis.yml
  .travis.yml
Labels: CI

ENH: delete pkg-butler -- we need special CI
  .github/workflows/jlpkgbutler-butler-workflow.yml
Labels: CI

Update CompatHelper.yml
  .github/workflows/CompatHelper.yml
Labels: CI

Update Project.toml
  Project.toml
Labels: none

ENH: update travis settings
  .travis.yml
  src/PlotlyJS.jl
Labels: CI

ENH: add PlotlyBase to docs/Project.toml
  docs/Project.toml
Labels: documentation

ENH: add deploy instruction to docs/make.jl
  docs/make.jl
Labels: documentation

build based on 5d9a60f
  dev/api/index.html
  dev/assets/documenter.js
  dev/assets/search.js
  dev/assets/themes/documenter-dark.css
  dev/assets/themes/documenter-light.css
  dev/assets/themeswap.js
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/siteinfo.js
  dev/styles/index.html
  dev/syncplots/index.html
  versions.js
Labels: none

Update Project.toml
  Project.toml
Labels: none

build based on 5192080
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

Update Project.toml
  Project.toml
Labels: none

build based on bd23d53
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

wip: try to make docs deploy work
  .github/workflows/deploy_docs.yml
Labels: CI

DOC: more doc stuffs
  .github/workflows/deploy_docs.yml
Labels: CI
