Repository JuliaPlots/PlotlyJS.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI, testing

build based on 21bfb41
  previews/PR509/.documenter-siteinfo.json
  previews/PR509/api/index.html
  previews/PR509/assets/documenter.js
  previews/PR509/assets/include_plotlyjs.js
  previews/PR509/assets/themes/catppuccin-frappe.css
  previews/PR509/assets/themes/catppuccin-latte.css
  previews/PR509/assets/themes/catppuccin-macchiato.css
  previews/PR509/assets/themes/catppuccin-mocha.css
  previews/PR509/assets/themes/documenter-dark.css
  previews/PR509/assets/themes/documenter-light.css
  previews/PR509/assets/themeswap.js
  previews/PR509/assets/warner.js
  previews/PR509/basics/index.html
  previews/PR509/building_traces_layouts/index.html
  previews/PR509/contributing/index.html
  previews/PR509/examples/3d/index.html
  previews/PR509/examples/area/index.html
  previews/PR509/examples/bar/index.html
  previews/PR509/examples/box_plots/index.html
  previews/PR509/examples/contour/index.html
  previews/PR509/examples/finance/index.html
  previews/PR509/examples/heatmaps/index.html
  previews/PR509/examples/histograms/index.html
  previews/PR509/examples/line_scatter/index.html
  previews/PR509/examples/maps/index.html
  previews/PR509/examples/shapes/index.html
  previews/PR509/examples/subplots/index.html
  previews/PR509/examples/tables/index.html
  previews/PR509/examples/ternary/index.html
  previews/PR509/examples/time_series/index.html
  previews/PR509/examples/violin/index.html
  previews/PR509/index.html
  previews/PR509/manipulating_plots/index.html
  previews/PR509/objects.inv
  previews/PR509/search_index.js
  previews/PR509/siteinfo.js
  previews/PR509/syncplots/index.html
Labels: none

Update workflows for doc deployment (#509)
  .github/workflows/TagBot.yml
  .github/workflows/deploy_docs.yml
Labels: CI

build based on 96768f1
  dev/.documenter-siteinfo.json
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

Normalise/revert documentation workflow settings
  .github/workflows/deploy_docs.yml
Labels: CI

build based on 7644640
  previews/PR510/.documenter-siteinfo.json
  previews/PR510/api/index.html
  previews/PR510/assets/documenter.js
  previews/PR510/assets/include_plotlyjs.js
  previews/PR510/assets/themes/catppuccin-frappe.css
  previews/PR510/assets/themes/catppuccin-latte.css
  previews/PR510/assets/themes/catppuccin-macchiato.css
  previews/PR510/assets/themes/catppuccin-mocha.css
  previews/PR510/assets/themes/documenter-dark.css
  previews/PR510/assets/themes/documenter-light.css
  previews/PR510/assets/themeswap.js
  previews/PR510/assets/warner.js
  previews/PR510/basics/index.html
  previews/PR510/building_traces_layouts/index.html
  previews/PR510/contributing/index.html
  previews/PR510/examples/3d/index.html
  previews/PR510/examples/area/index.html
  previews/PR510/examples/bar/index.html
  previews/PR510/examples/box_plots/index.html
  previews/PR510/examples/contour/index.html
  previews/PR510/examples/finance/index.html
  previews/PR510/examples/heatmaps/index.html
  previews/PR510/examples/histograms/index.html
  previews/PR510/examples/line_scatter/index.html
  previews/PR510/examples/maps/index.html
  previews/PR510/examples/shapes/index.html
  previews/PR510/examples/subplots/index.html
  previews/PR510/examples/tables/index.html
  previews/PR510/examples/ternary/index.html
  previews/PR510/examples/time_series/index.html
  previews/PR510/examples/violin/index.html
  previews/PR510/index.html
  previews/PR510/manipulating_plots/index.html
  previews/PR510/objects.inv
  previews/PR510/search_index.js
  previews/PR510/siteinfo.js
  previews/PR510/syncplots/index.html
Labels: none

Further update to workflows for documentation deployment (#510)
  .github/workflows/deploy_docs.yml
Labels: CI

build based on a1a0746
  dev/.documenter-siteinfo.json
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

build based on a1a0746
  v0.18
  v0.18.17/.documenter-siteinfo.json
  v0.18.17/api/index.html
  v0.18.17/assets/documenter.js
  v0.18.17/assets/include_plotlyjs.js
  v0.18.17/assets/themes/catppuccin-frappe.css
  v0.18.17/assets/themes/catppuccin-latte.css
  v0.18.17/assets/themes/catppuccin-macchiato.css
  v0.18.17/assets/themes/catppuccin-mocha.css
  v0.18.17/assets/themes/documenter-dark.css
  v0.18.17/assets/themes/documenter-light.css
  v0.18.17/assets/themeswap.js
  v0.18.17/assets/warner.js
  v0.18.17/basics/index.html
  v0.18.17/building_traces_layouts/index.html
  v0.18.17/contributing/index.html
  v0.18.17/examples/3d/index.html
  v0.18.17/examples/area/index.html
  v0.18.17/examples/bar/index.html
  v0.18.17/examples/box_plots/index.html
  v0.18.17/examples/contour/index.html
  v0.18.17/examples/finance/index.html
  v0.18.17/examples/heatmaps/index.html
  v0.18.17/examples/histograms/index.html
  v0.18.17/examples/line_scatter/index.html
  v0.18.17/examples/maps/index.html
  v0.18.17/examples/shapes/index.html
  v0.18.17/examples/subplots/index.html
  v0.18.17/examples/tables/index.html
  v0.18.17/examples/ternary/index.html
  v0.18.17/examples/time_series/index.html
  v0.18.17/examples/violin/index.html
  v0.18.17/index.html
  v0.18.17/manipulating_plots/index.html
  v0.18.17/objects.inv
  v0.18.17/search_index.js
  v0.18.17/siteinfo.js
  v0.18.17/syncplots/index.html
  versions.js
Labels: none

Bump MathJax version to 2.7.9
  src/PlotlyJS.jl
Labels: none

build based on 11f2410
  dev/.documenter-siteinfo.json
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

[docs] Update wording in Home.
  docs/src/index.md
Labels: documentation

CompatHelper: bump compat for JSON to 1, (keep existing compat)
  Project.toml
Labels: none

build based on 9a9478b
  previews/PR512/.documenter-siteinfo.json
  previews/PR512/api/index.html
  previews/PR512/assets/documenter.js
  previews/PR512/assets/include_plotlyjs.js
  previews/PR512/assets/themes/catppuccin-frappe.css
  previews/PR512/assets/themes/catppuccin-latte.css
  previews/PR512/assets/themes/catppuccin-macchiato.css
  previews/PR512/assets/themes/catppuccin-mocha.css
  previews/PR512/assets/themes/documenter-dark.css
  previews/PR512/assets/themes/documenter-light.css
  previews/PR512/assets/themeswap.js
  previews/PR512/assets/warner.js
  previews/PR512/basics/index.html
  previews/PR512/building_traces_layouts/index.html
  previews/PR512/contributing/index.html
  previews/PR512/examples/3d/index.html
  previews/PR512/examples/area/index.html
  previews/PR512/examples/bar/index.html
  previews/PR512/examples/box_plots/index.html
  previews/PR512/examples/contour/index.html
  previews/PR512/examples/finance/index.html
  previews/PR512/examples/heatmaps/index.html
  previews/PR512/examples/histograms/index.html
  previews/PR512/examples/line_scatter/index.html
  previews/PR512/examples/maps/index.html
  previews/PR512/examples/shapes/index.html
  previews/PR512/examples/subplots/index.html
  previews/PR512/examples/tables/index.html
  previews/PR512/examples/ternary/index.html
  previews/PR512/examples/time_series/index.html
  previews/PR512/examples/violin/index.html
  previews/PR512/index.html
  previews/PR512/manipulating_plots/index.html
  previews/PR512/objects.inv
  previews/PR512/search_index.js
  previews/PR512/siteinfo.js
  previews/PR512/syncplots/index.html
Labels: none

CompatHelper: bump compat for JSON to 1, (keep existing compat)
  Project.toml
Labels: none

build based on ecccb63
  previews/PR513/.documenter-siteinfo.json
  previews/PR513/api/index.html
  previews/PR513/assets/documenter.js
  previews/PR513/assets/include_plotlyjs.js
  previews/PR513/assets/themes/catppuccin-frappe.css
  previews/PR513/assets/themes/catppuccin-latte.css
  previews/PR513/assets/themes/catppuccin-macchiato.css
  previews/PR513/assets/themes/catppuccin-mocha.css
  previews/PR513/assets/themes/documenter-dark.css
  previews/PR513/assets/themes/documenter-light.css
  previews/PR513/assets/themeswap.js
  previews/PR513/assets/warner.js
  previews/PR513/basics/index.html
  previews/PR513/building_traces_layouts/index.html
  previews/PR513/contributing/index.html
  previews/PR513/examples/3d/index.html
  previews/PR513/examples/area/index.html
  previews/PR513/examples/bar/index.html
  previews/PR513/examples/box_plots/index.html
  previews/PR513/examples/contour/index.html
  previews/PR513/examples/finance/index.html
  previews/PR513/examples/heatmaps/index.html
  previews/PR513/examples/histograms/index.html
  previews/PR513/examples/line_scatter/index.html
  previews/PR513/examples/maps/index.html
  previews/PR513/examples/shapes/index.html
  previews/PR513/examples/subplots/index.html
  previews/PR513/examples/tables/index.html
  previews/PR513/examples/ternary/index.html
  previews/PR513/examples/time_series/index.html
  previews/PR513/examples/violin/index.html
  previews/PR513/index.html
  previews/PR513/manipulating_plots/index.html
  previews/PR513/objects.inv
  previews/PR513/search_index.js
  previews/PR513/siteinfo.js
  previews/PR513/syncplots/index.html
Labels: none

Update Project.toml for CI
  Project.toml
Labels: none

update compact
  Project.toml
Labels: none

update compat (#515)
  Project.toml
Labels: none

Revert "update compat (#515)"
  Project.toml
Labels: none

More clean-up
  docs/make.jl
  docs/src/basics.md
  docs/src/building_traces_layouts.md
  docs/src/examples/heatmaps.md
  docs/src/index.md
  docs/src/manipulating_plots.md
  docs/src/syncplots.md
Labels: documentation

Revise 'Building blocks'
  docs/src/basics.md
  docs/src/building_traces_layouts.md
  docs/src/manipulating_plots.md
Labels: documentation

Update 'Putting it together'
  docs/src/basics.md
  docs/src/building_traces_layouts.md
  docs/src/syncplots.md
Labels: documentation

Final edit and check
  docs/src/basics.md
  docs/src/building_traces_layouts.md
  docs/src/contributing.md
  docs/src/manipulating_plots.md
  docs/src/syncplots.md
Labels: documentation

Linking fixes
  docs/src/building_traces_layouts.md
  docs/src/index.md
  docs/src/manipulating_plots.md
  docs/src/syncplots.md
Labels: documentation

Typo
  docs/src/manipulating_plots.md
Labels: documentation

Remove word
  docs/src/manipulating_plots.md
Labels: documentation

Typo
  docs/src/manipulating_plots.md
Labels: documentation

[docs] Full edit review of wording and references. (#511)
  docs/make.jl
  docs/src/basics.md
  docs/src/building_traces_layouts.md
  docs/src/contributing.md
  docs/src/examples/heatmaps.md
  docs/src/index.md
  docs/src/manipulating_plots.md
  docs/src/syncplots.md
Labels: documentation

build based on 249150c
  dev/.documenter-siteinfo.json
  dev/api/index.html
  dev/assets/documenter.js
  dev/assets/themes/catppuccin-frappe.css
  dev/assets/themes/catppuccin-latte.css
  dev/assets/themes/catppuccin-macchiato.css
  dev/assets/themes/catppuccin-mocha.css
  dev/assets/themes/documenter-dark.css
  dev/assets/themes/documenter-light.css
  dev/assets/warner.js
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/objects.inv
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

0.18.18
  Project.toml
Labels: none

build based on 8bbaf03
  dev/.documenter-siteinfo.json
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/objects.inv
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

build based on 8bbaf03
  stable
  v0.18
  v0.18.18/.documenter-siteinfo.json
  v0.18.18/api/index.html
  v0.18.18/assets/documenter.js
  v0.18.18/assets/include_plotlyjs.js
  v0.18.18/assets/themes/catppuccin-frappe.css
  v0.18.18/assets/themes/catppuccin-latte.css
  v0.18.18/assets/themes/catppuccin-macchiato.css
  v0.18.18/assets/themes/catppuccin-mocha.css
  v0.18.18/assets/themes/documenter-dark.css
  v0.18.18/assets/themes/documenter-light.css
  v0.18.18/assets/themeswap.js
  v0.18.18/assets/warner.js
  v0.18.18/basics/index.html
  v0.18.18/building_traces_layouts/index.html
  v0.18.18/contributing/index.html
  v0.18.18/examples/3d/index.html
  v0.18.18/examples/area/index.html
  v0.18.18/examples/bar/index.html
  v0.18.18/examples/box_plots/index.html
  v0.18.18/examples/contour/index.html
  v0.18.18/examples/finance/index.html
  v0.18.18/examples/heatmaps/index.html
  v0.18.18/examples/histograms/index.html
  v0.18.18/examples/line_scatter/index.html
  v0.18.18/examples/maps/index.html
  v0.18.18/examples/shapes/index.html
  v0.18.18/examples/subplots/index.html
  v0.18.18/examples/tables/index.html
  v0.18.18/examples/ternary/index.html
  v0.18.18/examples/time_series/index.html
  v0.18.18/examples/violin/index.html
  v0.18.18/index.html
  v0.18.18/manipulating_plots/index.html
  v0.18.18/objects.inv
  v0.18.18/search_index.js
  v0.18.18/siteinfo.js
  v0.18.18/syncplots/index.html
  versions.js
Labels: none

Strip CR before pattern matching end
  docs/make.jl
Labels: documentation

Import two examples from the plotlyjs-julia website
  docs/src/extra-examples/line-and-scatter.md
  docs/src/extra-examples/table.md
Labels: documentation

Add short explanation to examples
  docs/make.jl
  docs/src/examples/line_scatter2.md
Labels: documentation

Strip CR before pattern matching end (#522)
  docs/make.jl
Labels: documentation

build based on 8aad5b2
  dev/.documenter-siteinfo.json
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/syncplots/index.html
Labels: none

Reduce size of scattergl plot
  docs/src/building_traces_layouts.md
  docs/src/examples/line_scatter2.md
  docs/src/extra-examples/line-and-scatter.md
Labels: documentation

Import two examples from the plotlyjs-julia website
  docs/src/extra-examples/line-and-scatter.md
  docs/src/extra-examples/table.md
Labels: documentation

Add short explanation to examples
  docs/make.jl
  docs/src/examples/line_scatter2.md
Labels: documentation

.github/labeler.yml:

documentation:
- "docs/**/*"
CI:
- "**/*.yml"
testing:
- test/*
