Repository JuliaPlots/PlotlyJS.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI, testing

.github/labeler.yml:

documentation:
- "docs/**/*"
CI:
- "**/*.yml"
testing:
- test/*

remove Base.vect overload
  .devcontainer/devcontainer.json
  Project.toml
  src/util.jl
Labels: none

build based on 3d58692
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

update to plotly 2.x!
  .github/workflows/artifacts.yml
  .gitignore
  deps/build.jl
  deps/find_attr_groups.jl
Labels: CI

bump version number to use plotly 2.x!
  Project.toml
Labels: none

build based on 4fba243
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

build based on 256f8f3
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

udpate plotly.js version in artifacts
  .github/workflows/artifacts.yml
Labels: CI

build based on cbd87cf
  dev/api/index.html
  dev/assets/themes/documenter-dark.css
  dev/assets/themes/documenter-light.css
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

migrate kaleido support from PlotlyBase over to PlotlyJS
  Project.toml
  src/PlotlyJS.jl
  src/kaleido.jl
  test/kaleido.jl
  test/runtests.jl
Labels: testing

build based on 39e57f1
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

bump version number
  Project.toml
Labels: none

build based on 95b6baa
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

build based on 58909c5
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

build based on 4f58b56
  dev/api/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/manipulating_plots/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

Savefig has been removed from PlotlyBase
  src/PlotlyJS.jl
Labels: none

remove savefig import from PlotlyBase
  src/PlotlyJS.jl
Labels: none

add savefig export
  src/PlotlyJS.jl
Labels: none

only run kaleido tests
  test/runtests.jl
Labels: testing

add unittest ci
  .github/workflows/ci-master-workflow.yml
  .github/workflows/ci-pr-workflow.yml
Labels: CI

build based on d0792bb
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

build based on 2efc109
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

build based on 195bd2d
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

fix savefig issues
  src/kaleido.jl
  test/kaleido.jl
Labels: testing

bump version number
  Project.toml
Labels: none

build based on 179c724
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

build based on eac4ec3
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

enh add support for json2 and json3
  src/PlotlyJS.jl
Labels: none

remove styles from docs as they are not supported anymore
  docs/make.jl
  docs/src/basics.md
  docs/src/examples/violin.md
  docs/src/styles.md
  docs/src/syncplots.md
Labels: documentation

build based on 289fe1f
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

bump version number
  Project.toml
Labels: none

Update Project.toml
  Project.toml
Labels: none

build based on c7ea4bb
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/styles/index.html
  dev/syncplots/index.html
Labels: none

build based on 67fc479
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

fix subplot docs
  docs/make.jl
  docs/src/assets/include_plotlyjs.js
  docs/src/examples/subplots.md
  docs/src/examples/violin.md
  examples/subplots.jl
  src/display.jl
Labels: documentation

build based on 2dd3ef3
  dev/api/index.html
  dev/assets/include_plotlyjs.js
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

Update PlotlyJS.jl
  src/PlotlyJS.jl
Labels: none

build based on acba7d1
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search/index.html
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

fix add_trace! method, closes #407
  src/display.jl
Labels: none

keep require-loaded in docs render
  src/display.jl
Labels: none

Update Project.toml
  Project.toml
Labels: none
