Repository JuliaPlots/PlotlyJS.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, CI, testing

Minor update of syncplots.md: indent fix
  docs/src/syncplots.md
Labels: documentation

build based on 111eb52
  dev/.documenter-siteinfo.json
  dev/api/index.html
  dev/basics/index.html
  dev/building_traces_layouts/index.html
  dev/contributing/index.html
  dev/examples/3d/index.html
  dev/examples/area/index.html
  dev/examples/bar/index.html
  dev/examples/box_plots/index.html
  dev/examples/contour/index.html
  dev/examples/finance/index.html
  dev/examples/heatmaps/index.html
  dev/examples/histograms/index.html
  dev/examples/line_scatter/index.html
  dev/examples/maps/index.html
  dev/examples/shapes/index.html
  dev/examples/subplots/index.html
  dev/examples/tables/index.html
  dev/examples/ternary/index.html
  dev/examples/time_series/index.html
  dev/examples/violin/index.html
  dev/index.html
  dev/manipulating_plots/index.html
  dev/search_index.js
  dev/syncplots/index.html
Labels: none

CompatHelper: bump compat for CSV in [weakdeps] to 1, (keep existing compat)
  Project.toml
Labels: none

CompatHelper: bump compat for CSV in [extras] to 1, (keep existing compat)
  Project.toml
Labels: none

build based on b684c02
  previews/PR527/.documenter-siteinfo.json
  previews/PR527/api/index.html
  previews/PR527/assets/documenter.js
  previews/PR527/assets/include_plotlyjs.js
  previews/PR527/assets/themes/catppuccin-frappe.css
  previews/PR527/assets/themes/catppuccin-latte.css
  previews/PR527/assets/themes/catppuccin-macchiato.css
  previews/PR527/assets/themes/catppuccin-mocha.css
  previews/PR527/assets/themes/documenter-dark.css
  previews/PR527/assets/themes/documenter-light.css
  previews/PR527/assets/themeswap.js
  previews/PR527/assets/warner.js
  previews/PR527/basics/index.html
  previews/PR527/building_traces_layouts/index.html
  previews/PR527/contributing/index.html
  previews/PR527/examples/3d/index.html
  previews/PR527/examples/area/index.html
  previews/PR527/examples/bar/index.html
  previews/PR527/examples/box_plots/index.html
  previews/PR527/examples/contour/index.html
  previews/PR527/examples/finance/index.html
  previews/PR527/examples/heatmaps/index.html
  previews/PR527/examples/histograms/index.html
  previews/PR527/examples/line_scatter/index.html
  previews/PR527/examples/maps/index.html
  previews/PR527/examples/shapes/index.html
  previews/PR527/examples/subplots/index.html
  previews/PR527/examples/tables/index.html
  previews/PR527/examples/ternary/index.html
  previews/PR527/examples/time_series/index.html
  previews/PR527/examples/violin/index.html
  previews/PR527/index.html
  previews/PR527/manipulating_plots/index.html
  previews/PR527/objects.inv
  previews/PR527/search_index.js
  previews/PR527/siteinfo.js
  previews/PR527/syncplots/index.html
Labels: none

build based on 1d8a604
  previews/PR528/.documenter-siteinfo.json
  previews/PR528/api/index.html
  previews/PR528/assets/documenter.js
  previews/PR528/assets/include_plotlyjs.js
  previews/PR528/assets/themes/catppuccin-frappe.css
  previews/PR528/assets/themes/catppuccin-latte.css
  previews/PR528/assets/themes/catppuccin-macchiato.css
  previews/PR528/assets/themes/catppuccin-mocha.css
  previews/PR528/assets/themes/documenter-dark.css
  previews/PR528/assets/themes/documenter-light.css
  previews/PR528/assets/themeswap.js
  previews/PR528/assets/warner.js
  previews/PR528/basics/index.html
  previews/PR528/building_traces_layouts/index.html
  previews/PR528/contributing/index.html
  previews/PR528/examples/3d/index.html
  previews/PR528/examples/area/index.html
  previews/PR528/examples/bar/index.html
  previews/PR528/examples/box_plots/index.html
  previews/PR528/examples/contour/index.html
  previews/PR528/examples/finance/index.html
  previews/PR528/examples/heatmaps/index.html
  previews/PR528/examples/histograms/index.html
  previews/PR528/examples/line_scatter/index.html
  previews/PR528/examples/maps/index.html
  previews/PR528/examples/shapes/index.html
  previews/PR528/examples/subplots/index.html
  previews/PR528/examples/tables/index.html
  previews/PR528/examples/ternary/index.html
  previews/PR528/examples/time_series/index.html
  previews/PR528/examples/violin/index.html
  previews/PR528/index.html
  previews/PR528/manipulating_plots/index.html
  previews/PR528/objects.inv
  previews/PR528/search_index.js
  previews/PR528/siteinfo.js
  previews/PR528/syncplots/index.html
Labels: none

Support JSON.jl v1
  Project.toml
  src/PlotlyJS.jl
  src/jsoncompat.jl
  src/kaleido.jl
  test/kaleido.jl
  test/runtests.jl
Labels: testing

CompatHelper: bump compat for PlotlyBase to 0.10, (keep existing compat)
  Project.toml
Labels: none

build based on 491ff1c
  previews/PR530/.documenter-siteinfo.json
  previews/PR530/api/index.html
  previews/PR530/assets/documenter.js
  previews/PR530/assets/include_plotlyjs.js
  previews/PR530/assets/themes/catppuccin-frappe.css
  previews/PR530/assets/themes/catppuccin-latte.css
  previews/PR530/assets/themes/catppuccin-macchiato.css
  previews/PR530/assets/themes/catppuccin-mocha.css
  previews/PR530/assets/themes/documenter-dark.css
  previews/PR530/assets/themes/documenter-light.css
  previews/PR530/assets/themeswap.js
  previews/PR530/assets/warner.js
  previews/PR530/basics/index.html
  previews/PR530/building_traces_layouts/index.html
  previews/PR530/contributing/index.html
  previews/PR530/examples/3d/index.html
  previews/PR530/examples/area/index.html
  previews/PR530/examples/bar/index.html
  previews/PR530/examples/box_plots/index.html
  previews/PR530/examples/contour/index.html
  previews/PR530/examples/finance/index.html
  previews/PR530/examples/heatmaps/index.html
  previews/PR530/examples/histograms/index.html
  previews/PR530/examples/line_scatter/index.html
  previews/PR530/examples/maps/index.html
  previews/PR530/examples/shapes/index.html
  previews/PR530/examples/subplots/index.html
  previews/PR530/examples/tables/index.html
  previews/PR530/examples/ternary/index.html
  previews/PR530/examples/time_series/index.html
  previews/PR530/examples/violin/index.html
  previews/PR530/index.html
  previews/PR530/manipulating_plots/index.html
  previews/PR530/objects.inv
  previews/PR530/search_index.js
  previews/PR530/siteinfo.js
  previews/PR530/syncplots/index.html
Labels: none

.github/labeler.yml:

documentation:
- "docs/**/*"
CI:
- "**/*.yml"
testing:
- test/*
